{% extends "layout.html" %}

{% block content %}
  <h2>All Devices in Inventory</h2>
  {% if success %}
    <h4>{{ message }}</h4>
    <div id="demo">
      <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-bordered table-hover table-mc-light-blue" align="center">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Name</th>
              <th>Device Details</th>
            </tr>
          </thead>
          <tbody>
          {% for device in devices %}
            <tr>
              <td data-title="S.No.">{{ loop.index }}</td>
              <td data-title="Name">{{ device.name }}</td>
              <td data-title="Device Details">
                <a href="{{ url_for('device_detail', vlid=device.vl_tag) }}" >{{ device.vl_tag }}</a>
              </td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
      </div></div>
  {% else %}
    <h4>{{ message }} </h4>
  {% endif %}
{% endblock %}
