{% extends "layout.html" %}

{% block content %}
  <h3>Change Password</h3>
  {% if success %}
    <p>Your password is successfully updated</p>

  {% else %}

    {% for message in form.currentPassword.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.newPassword.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.confirmPassword.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('change_password') }}" method=post>
      {{ form.hidden_tag() }}

      {{ form.currentPassword.label }}
      {{ form.currentPassword }}

      {{ form.newPassword.label }}
      {{ form.newPassword }}

      {{ form.confirmPassword.label }}
      {{ form.confirmPassword }}

      {{ form.submit }}
    </form>
  {% endif %}
{% endblock %}
